In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('patient1.csv')
df

,NUMBER,__HN__,__DATE__,__PATIENT_NAME__,__TARGET__,__DEBT_VALUE__,__BILL_TARGET__,__STATEMENT_TARGET__,__df__
0,1,54-648398,2024-06-01,Patient A,6333.00,4527.23,4567.40,3541.39,2791.61
1,2,44-972571,2024-06-01,Patient B,3455.97,2516.86,5875.18,4144.54,-688.57
2,3,63-456277,2024-06-01,Patient C,8686.43,7773.39,1870.12,2582.83,6103.60
3,4,50-522730,2024-06-01,Patient D,7470.28,9925.42,2362.81,2858.85,4611.43
4,5,52-272186,2024-06-01,Patient E,1104.22,4236.90,7408.26,7979.49,-6875.27
...,...,...,...,...,...,...,...,...,...
95,96,62-114463,2024-06-01,Patient,6773.94,9428.11,8948.12,8042.03,-1268.09
96,97,50-153546,2024-06-01,Patient ¡,8099.61,1394.96,2839.09,1773.98,6325.63
97,98,70-782363,2024-06-01,Patient ¢,6100.57,8895.93,408.82,6502.60,-402.03
98,99,60-214752,2024-06-01,Patient £,9862.25,751.89,9687.34,8731.27,1130.98
99,100,64-583009,2024-06-01,Patient ¤,9345.07,3960.65,570.63,2164.82,7180.25

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NUMBER                100 non-null    int64
 1   __HN__                100 non-null    object
 2   __DATE__              100 non-null    object
 3   __PATIENT_NAME__      100 non-null    object
 4   __TARGET__            100 non-null    float64
 5   __DEBT_VALUE__        100 non-null    float64
 6   __BILL_TARGET__       100 non-null    float64
 7   __STATEMENT_TARGET__  100 non-null    float64
 8   __df__                100 non-null    float64
dtypes: float64(5), int64(1), object(3)
memory usage: 7.2+ KB

In [23]:
df.loc[1][0]

C:\Users\sampe\AppData\Local\Temp\ipykernel_13108\2044023174.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[1][0]

2

In [42]:
print(df['NUMBER'].any() == False)

False

In [46]:
df.iloc[0, 1]

'54-648398'

In [18]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [22]:
type(df) == "<class 'pandas.core.frame.DataFrame'>"

False

In [2]:
a = 2
a != None

True